*.pem
.coverage*
.env*
.history
.pytest_cache
.ruff_cache
__pycache__
/scripts/*
!/scripts/git/
/scripts/git/*
!/scripts/git/list_changed_files.sh
!/scripts/lint/
!/scripts/sentry/
coverage.*
coverage/
infrastructure/lambda-env-backup.json
mcp.json
ngrok.yml
pylint_results.txt
tmp
venv
