annotated-types==0.6.0
anyio==4.3.0
black==24.2.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.5
deprecation==2.1.0
distro==1.9.0
exceptiongroup==1.2.0
fastapi==0.110.0
gotrue==2.4.1
h11==0.14.0
httpcore==1.0.4
httpx==0.25.2
idna==3.6
mangum==0.17.0
openai==1.13.3
packaging==23.2
postgrest==0.16.1
pre-commit==3.6.2
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
PyJWT==2.8.0
pylint==3.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
realtime==1.0.2
requests==2.31.0
sentry-sdk==1.41.0
six==1.16.0
sniffio==1.3.1
starlette==0.36.3
storage3==0.7.0
StrEnum==0.4.15
stripe==8.8.0
supabase==2.4.0
supafunc==0.3.3
tiktoken==0.6.0
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==2.2.1
uvicorn==0.27.1
websockets==11.0.3
